@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    min-height: 20rem;
}

body{
    font-family: Roboto, sans-serif !important;
    background-color: #0B365E !important;
    color: white !important;
}

.button-style-primary{
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #0b365e;
    border: 2px solid #F4F4F4;
    color: #F4F4F4;
    border-radius: 0.5rem;
}

.button-style-secondary{
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #2b77bf;
    border: 2px solid #F4F4F4;
    color: #F4F4F4;
    border-radius: 0.5rem;
}

button:disabled,
button[disabled]{
  background-color: #63625c;
  border: 2px solid #9c9494;
}

#Error-404 .page-not-found{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

table{
    color: white !important;
    border: 0.7px solid #385979;
    /* border-radius: 8px; */
    /* min-width: 60rem; */
}
table thead,  
table tfoot {
    background-color: #2a4b6c;
}
table tbody {
    background-color: #03182c;
}

table thead tr{
    text-align: center;
}

table tbody tr:hover {
    background-color: #1a4c7a;
}

.table th,
.table td {
    border: none !important;
}

.table thead th {
    border-bottom: none !important;
}

table tr th:nth-child(1),
table tr td:nth-child(1)
{
    min-width: 2rem;
    max-width: 2rem;
}
table tr th:nth-child(2),
table tr td:nth-child(2) {
    min-width: 6rem;
    max-width: 6rem;
}
table tr th:nth-child(3),
table tr td:nth-child(3) {
    min-width: 8rem;
    max-width: 8rem;
}
table tr th:nth-child(4),
table tr td:nth-child(4) {
    min-width: 4rem;
    max-width: 4rem;
}
table tr th:nth-child(5),
table tr td:nth-child(5) {
    min-width: 6rem;
    max-width: 6rem;
}

table tr th:nth-child(6),
table tr td:nth-child(6) {
    min-width: 8rem;
    max-width: 8rem;
    text-align: center;
}

.pointer{
    cursor: pointer;
}
.elipsis{
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.action-pointer .material-button{
    padding: 7px;
    width: 38px !important;
    height: 38px !important;
    background-color: #63625c !important;
    border-radius: 50% !important;
}
